body {
  width: 1400px;
  margin: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navbar {


  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(1, auto);
  /* gap: 40px; */
  align-items: center;
  font-weight: 600;
  justify-content: space-between;
  /* background-color: rgb(82, 193, 247); */
  box-sizing: border-box;
  /* padding-left: 70px; */
  /* padding-right: 0px; */

}



#navbar>a {
  text-decoration: none;
  font-size: large;
  width: max-content;
  cursor: pointer;


}

#navbar>a:focus {
  transform: scale(1.1);
}

#navbar>a {
  transition: color 0.3s;

}

#navbar>a:hover {
  color: #dc3545;

}

#navbar>input {
  width: 300px;
  height: 40px;
  border-radius: 15px;
  border: solid 3px;
  border-color: whitesmoke;
  font-size: larger;
  padding-left: 10px;
  box-shadow: 1px 1px 1px 1px rgb(216, 216, 216);
}

#navbar>img {
  height: 80px;


}

#navbar>img {
  transition: transform 0.3s;
}

#navbar img:hover {
  transform: scale(1.1);
}

#dashboard {
  background-color: rgb(82, 193, 247);
  height: 800px;
  display: flex;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

#dashboard>div:nth-child(1) {

  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 70px;

}

#dashboard>div:nth-child(1)>div>img:nth-child(1) {
  margin-left: 50px;
  margin-bottom: 30px;
}

#dashboard>div:nth-child(1)>div>img:nth-child(2) {
  margin-left: 300px;
  margin-bottom: 0px;
}

#dashboard h1 {
  color: white;
  letter-spacing: 1mm;
  font-size: 80px;
  margin-bottom: 0px;
  font-weight: 500;
  margin-top: 15px;
}

#dashboard h3 {
  color: white;
  letter-spacing: 0.5mm;
  font-size: 45px;
  margin-top: 0;
  font-weight: 500;
  margin-bottom: 80px;
}

#dashboard>div:nth-child(1)>img {
  width: 280px;
  opacity: 1;
  transition: opacity 1s ease;

}

#dashboard>div:nth-child(1)>img:hover {
  opacity: 0;
}

#dashboard>div:nth-child(2) {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  transform: rotate(-30deg) skewX(0deg);
  margin-top: 300px;
  margin-left: 40px;
}

#dashboard>div:nth-child(2)>img {
  width: 300px;
  height: 620px;
  transition: 0.3s;
}

#dashboard>div:nth-child(2)>img:hover {
  transform: scale(1.05);

}


#aboutusers {
  padding-left: 70px;

  padding-right: 70px;
  height: 1100px;
}

#aboutusers>h1 {
  color: rgb(82, 193, 247);
  margin-top: 80px;
  margin-bottom: 90px;
  font-weight: 500;
  font-size: xxx-large;
}

#aboutusers>div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
}

#aboutusers div>img {

  border-radius: 50%;
  width: 210px;
  height: 210px;
}

#aboutusers div>h3 {
  margin-bottom: -10px;
  font-size: x-large;
}

#aboutusers div>p {
  font-size: x-large;
  text-align: left;
  color: rgb(32, 32, 59);
}




#onboarding {
  background-color: rgb(82, 193, 247);
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 70px;
  height: 1550px;

}

#onboarding>div>h1 {
  color: white;

  margin-bottom: 90px;
  font-weight: 500;
  font-size: xxx-large;
}

#onboarding>div>p {
  font-size: x-large;
  text-align: left;

  width: 800px;
  font-weight: 450;
  line-height: 1.1;

}

#onboarding>div:nth-child(2) {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  box-sizing: border-box;
  justify-items: center;

}

#onboarding>div:nth-child(2)>img {
  /* width: 300px;
  height: 620px; */
  transition: 0.3s;
}

#onboarding>div:nth-child(2)>img:nth-child(1) {
  margin-top: 50px;
  transform: rotate(-8deg);
  margin-left: 50px;
}

#onboarding>div:nth-child(2)>img:nth-child(2) {
  margin-top: 240px;
  transform: rotate(8deg);
  margin-left: 100px;
}

#onboarding>div:nth-child(2)>img:nth-child(3) {
  margin-left: 80px;
}

#onboarding>div:nth-child(2)>img:hover {
  transform: scale(1.05);
}


#architecture {
  padding-left: 70px;
}

#architecture h1 {
  color: rgb(82, 193, 247);
  margin-top: 100px;
  margin-bottom: 90px;
  font-weight: 500;
  font-size: xxx-large;
}

#architecture>div:nth-child(2)>h1 {
  color: rgb(82, 193, 247);
  margin-top: 80px;
  margin-bottom: 90px;
  font-weight: 500;
  font-size: xxx-large;
  text-align: center;
}




#tree {
  display: flex;
  gap: 90px;

}

#tree>div {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

#tree button {
  background-color: rgb(82, 193, 247);
  border-radius: 10px;
  border: none;
  width: 215px;
  height: 110px;
  font-size: larger;

}

#tree button:focus {
  background-color: lightgray;
  transform: translateY(-5px);
}

#tree>div:nth-child(3) {
  margin-top: 360px;

}

#tree>div:nth-child(2) {
  margin-top: 290px;
}

#tree>div:nth-child(3)>button {
  font-weight: bold;
}

#tree>div:nth-child(1) {
  margin-top: 360px;

}

#tree>div:nth-child(1)>button {
  color: white;
  font-weight: bold;
}

#tree div:nth-child(4)>button {
  width: 180px;
}


#architecture>div:nth-child(2) {
  margin-top: 275px;
  text-align: center;
}

#architecture>div:nth-child(2)>h1 {
  font-size: 70px;
}


#menu {
  display: flex;
  background-color: white;
  flex-direction: column;
  position: absolute;
  z-index: 99999;
  margin-top: 220px;
  margin-left: 1160px;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  padding: 2%;
  font-size: larger;
  box-shadow: 1px 2px 1px 1px rgb(204, 191, 191);
  cursor: pointer;
  color: rgb(85, 26, 139);

}

#menu a {
  text-decoration: none;
  display: block;
  margin-bottom: 10px
}



@media screen and (max-width:451px) {

  #home {
    display: none;

  }

  #ABOUT-USERS {
    display: none;

  }

  #ONBOARDING {
    display: none;
  }

  #search {
    display: none;
  }

  body {
    width: 100%;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  #navbar {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(1, auto);
    font-weight: 600;
    width: 99%;
    box-sizing: border-box;
  }

  #navbar>a {
    font-size: 100%;
  }

  #dashboard {
    height: 100%;



  }

  #dashboard>div:nth-child(1) {
    margin-top: 10%;
    margin-left: 0%;


    width: 100%;
    box-sizing: border-box;

  }

  #dashboard>div:nth-child(1)>div>img:nth-child(1) {
    margin-left: 5%;
    margin-bottom: 8%;
  }

  #dashboard>div:nth-child(1)>div>img:nth-child(2) {
    margin-left: 60%;
    margin-bottom: 0px;
  }

  #dashboard h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 0px;
    font-weight: 500;
    margin-top: 5%;
  }

  #dashboard h3 {
    text-align: center;
    letter-spacing: 0.5mm;
    font-size: 30px;
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 80px;
  }

  #dashboard>div:nth-child(1)>img {
    width: 60%;

    opacity: 1;
    transition: opacity 1s ease;
    margin-left: 20%;
  }

  #dashboard>div:nth-child(2) {
    display: none;
  }

  #aboutusers {
    padding-left: 5%;

    padding-right: 0;
    height: auto;
  }
  #aboutusers>h1 {
    color: rgb(82, 193, 247);
    margin-top: 80px;
    margin-bottom: 90px;
    font-weight: 500;
    font-size: xxx-large;
  }
  #aboutusers>div {    
    grid-template-columns: repeat(1, auto);
    gap: 70px;
  }
}